<ion-content>
  <div class="login-wrapper">
      <div class="flex-container">
          <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="col-sm-10 col-md-6 p-0 wow fadeInDown">
                          <!-- <img src="assets/images/signupbg.png" class="logo mb-4 d-block mx-auto"
                              alt="logo"> -->
                              <div class="text-center">
                                <img src="assets/images/logo.png" class="img-fluid m-2" width="20%"
                                alt="logo">
                                <img src="assets/images/name.png" class="img-fluid m-2" width="40%"
                                alt="logo">
                            </div>
                           
                         
                  </div>
              </div>
         </div>
  </div>
</ion-content>