.login-wrapper::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: url(..//..//..//assets/images/signupbg.png);;
    opacity: 0.95;
  }.logo{
    height: 25vh;
    width: 60vw;
    }