<ion-content>
  
  <div class="container">
    <ion-card-header>
      <a class="float-left"><img src="assets/images/forword.png" width="40%" class="img-fluid d-block"
        alt="logo"></a>
        <ion-item class="search" lines=none>
          <ion-icon class="search-icon" (click)="search()" name="search-outline" slot=start></ion-icon>
          <ion-input (keyup)="search()" [(ngModel)]="searchText" type="text" placeholder="Search here"></ion-input>
          <ion-icon (click)="clearFilter()" *ngIf="searchText" name="close-circle-outline"></ion-icon>
        </ion-item>
  
    </ion-card-header>

    <div class="box">
      <div class="card bg-primary-light-2">
        
          <div class="ml-2">
            <div class="media">
              <img src="assets/images/signupbg.png" width="45" height="45" class="rounded-circle align-self-center mr-3"
                alt="user-img">
              <div class="media-body inpage-profile-info">
                <h6 class="profile-name text-primary">
                  We found studio near by that you may be interested in.
                </h6>
                <p class="float-left">
                  August 28, 2020
                </p>
              </div>
            </div>
            
          </div>
          <hr>
          <div class="ml-2">
            <div class="media">
              <div class="media-body inpage-profile-info">
                <h6 class="profile-name text-primary">
                  We found studio near by that you may be interested in.
                </h6>
                <p class="float-left">
                  August 28, 2020
                </p>
              </div>
              <img src="assets/images/signupbg.png" width="45" height="45" class="rounded-circle align-self-center mr-3"
              alt="user-img">
          
            </div>
            
          </div>
          <hr>
          <div class="ml-2">
            <div class="media">
              <img src="assets/images/signupbg.png" width="45" height="45" class="rounded-circle align-self-center mr-3"
                alt="user-img">
              <div class="media-body inpage-profile-info">
                <h6 class="profile-name text-primary">
                  We found studio near by that you may be interested in.
                </h6>
                <p class="float-left">
                  August 28, 2020
                </p>
              </div>
            </div>
            
          </div>
          <hr>
          <div class="ml-2">
            <div class="media">
              <div class="media-body inpage-profile-info">
                <h6 class="profile-name text-primary">
                  We found studio near by that you may be interested in.
                </h6>
                <p class="float-left">
                  August 28, 2020
                </p>
              </div>
              <img src="assets/images/signupbg.png" width="45" height="45" class="rounded-circle align-self-center mr-3"
              alt="user-img">
          
            </div>
            
          </div>
     
      </div>
    
    </div>

  </div>
</ion-content>
<ion-footer>
  <button class="foot-btn"><img src="assets/images/home.png" width="40%" class="img-fluid d-block mx-auto"
    alt="logo"></button>
    <button class="foot-btn"><img src="assets/images/People.png" width="40%" class="img-fluid d-block mx-auto"
      alt="logo"></button>
      <button class="foot-btn" ><img src="assets/images/upload.png" width="40%" class="img-fluid d-block mx-auto"
        alt="logo"></button>
        <button class="foot-btn" ><img src="assets/images/Insight.png" width="40%" class="img-fluid d-block mx-auto"
          alt="logo"></button>
          <button class="foot-btn" ><img src="assets/images/Search.png" width="40%" class="img-fluid d-block mx-auto"
            alt="logo"></button>
</ion-footer>