.box{
    width: 100%;
    height: 100%;
    margin: 22px 10px 10px 10px;
    border-radius: 10px;
    background-color: white;
  }
  .container {
    width: 100%;
    padding-right: 5vw;
    padding-left: 0;
    padding-top: 1vh;
    margin-right: auto;
    margin-left: auto;
    
  }
  .container{
    background-image: url("..//..//..//assets/images/backgroung.png");
    width: 100%;
    height: 100%;
   
  }
  
ion-footer {
    display: block;
    position: relative;
    -ms-flex-order: 1;
    order: 1;
    height: 8vh;
    width: 100%;
    z-index: 10;
  }
  .foot-btn{
    width: 20%; 
    background-color: white;
    padding: 5px;
  }
  
.container1 { position: relative; }
.container1 .profile { display: block; }
.container1 .camera {  position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 90px;
    margin-bottom: 10px; 
}
.camera-box{
    width: 24vw;
    height: 12vh;
    margin-bottom: 20vw;
    background-color: gray;
}
.camera1 {  position: absolute;
    height: 10vh;
    width: 10vw;
    color: white;
    background-color: black;
    margin-bottom: 10px; }
    .float-right {
        float: right!important;
        margin-right: -12vw;
    }
    .center{
        position:fixed;
        bottom:40px;
        left:10%;
        width:80%;
       
      }
       .center .btn{
        font-size: 16px;
        font-weight: 600;
        background-color: #55b730;
    
        }
        .btn-group button {
          border-radius: 5px solid black;
          background-color: white;
          border: 1px solid #55b730;
          color: black;
          padding: 10px 0 10px 0;
          cursor: pointer;
          margin: 4px;
          float: left;
        }
        .btn-group .custombtn {
          width: 33.33%;
          font-size: 2.8vw;
          padding: 4px;
          margin: 3vw;
          height: 4vh;
          border-radius: 10px;
      }
      
    hr {
      height: 1px;
      border-width: 0;
      box-sizing: content-box;
      background: black;
  }
  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 10px;
}
.imgmedia{

    vertical-align: middle;
    border-style: none;
    width: 33.33%;
    padding: 5px;
    /* height: 26%; */

}
p {
  margin-top: 0;
  margin-bottom: 0;
}
.btn-group .custombtn-clicked{
  width: 33.33%;
  font-size: 2.8vw;
  padding: 4px;
  margin: 3vw;
  height: 4vh;
  background-color: #55b730;
  border: 1px solid #55b730;      
  border-radius: 10px;
}
